:host {
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;
    background-color: #b8c5d0;
}
.wrapper {
    border-radius: 2rem;
    margin: 2rem;
    padding: 1rem;
    background-color: #f6f8f9;
    width: 100%;
}

.sidebar {
    height: 100vh;
    background-color: #89969f;
    border-radius: 2rem;
    overflow: hidden;
}

.main {
    min-width: 85vw;
    margin-left: 1rem;
    padding: 1rem;
    border-radius: 2rem;
    background-color: #b8c5d0;
}
